/*
  CSS RESET
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

/*
	VARIABLES
*/
html {
	--gray1: hsl(0, 0%, 8.5%);
	--gray2: hsl(0, 0%, 11.0%);
	--gray3: hsl(0, 0%, 13.6%);
	--gray4: hsl(0, 0%, 15.8%);
	--gray5: hsl(0, 0%, 17.9%);
	--gray6: hsl(0, 0%, 20.5%);
	--gray7: hsl(0, 0%, 24.3%);
	--gray8: hsl(0, 0%, 31.2%);
	--gray9: hsl(0, 0%, 43.9%);
	--gray10: hsl(0, 0%, 49.4%);
	--gray11: hsl(0, 0%, 62.8%);
	--gray12: hsl(0, 0%, 93.0%);
	--slate1: hsl(200, 7%, 8.8%);
	--slate2: hsl(195, 7.1%, 11%);
	--slate3: hsl(197, 6.8%, 13.6%);
	--slate4: hsl(198, 6.6%, 15.8%);
	--slate5: hsl(199, 6.4%, 17.9%);
	--slate6: hsl(201, 6.2%, 20.5%);
	--slate7: hsl(203, 6%, 24.3%);
	--slate8: hsl(207, 5.6%, 31.6%);
	--slate9: hsl(206, 6%, 43.9%);
	--slate10: hsl(206, 5.2%, 49.5%);
	--slate11: hsl(206, 6%, 63%);
	--slate12: hsl(210, 6%, 93%);
	--sage1: hsl(155, 7.0%, 8.4%);
	--sage2: hsl(150, 7.4%, 10.6%);
	--sage3: hsl(150, 6.7%, 13.1%);
	--sage4: hsl(150, 6.4%, 15.3%);
	--sage5: hsl(150, 6.1%, 17.4%);
	--sage6: hsl(150, 5.8%, 19.9%);
	--sage7: hsl(150, 5.5%, 23.6%);
	--sage8: hsl(150, 5.1%, 30.6%);
	--sage9: hsl(155, 6.0%, 42.5%);
	--sage10: hsl(153, 4.8%, 48.2%);
	--sage11: hsl(155, 5.0%, 61.8%);
	--sage12: hsl(155, 6.0%, 93.0%);
	--teal1: hsl(168, 48%, 6.5%);
	--teal2: hsl(169, 77.8%, 7.1%);
	--teal3: hsl(170, 76.1%, 9.2%);
	--teal4: hsl(171, 75.8%, 11%);
	--teal5: hsl(171, 75.7%, 12.8%);
	--teal6: hsl(172, 75.8%, 15.1%);
	--teal7: hsl(172, 76.7%, 18.6%);
	--teal8: hsl(173, 80.2%, 23.7%);
	--teal9: hsl(173, 80%, 36%);
	--teal10: hsl(174, 83.9%, 38.2%);
	--teal11: hsl(174, 90%, 40.7%);
	--teal12: hsl(166, 73%, 93.1%);
	--green1: hsl(146, 30%, 7.4%);
	--green2: hsl(155, 44.2%, 8.4%);
	--green3: hsl(155, 46.7%, 10.9%);
	--green4: hsl(154, 48.4%, 12.9%);
	--green5: hsl(154, 49.7%, 14.9%);
	--green6: hsl(154, 50.9%, 17.6%);
	--green7: hsl(153, 51.8%, 21.8%);
	--green8: hsl(151, 51.7%, 28.4%);
	--green9: hsl(151, 55%, 41.5%);
	--green10: hsl(151, 49.3%, 46.5%);
	--green11: hsl(151, 50%, 53.2%);
	--green12: hsl(137, 72%, 94%);
	--cyan1: hsl(192, 60.0%, 7.2%);
	--cyan2: hsl(192, 71.4%, 8.2%);
	--cyan3: hsl(192, 75.9%, 10.8%);
	--cyan4: hsl(192, 79.3%, 12.8%);
	--cyan5: hsl(192, 82.5%, 14.6%);
	--cyan6: hsl(192, 86.6%, 16.9%);
	--cyan7: hsl(192, 92.6%, 20.1%);
	--cyan8: hsl(192, 100%, 24.5%);
	--cyan9: hsl(190, 95.0%, 39.0%);
	--cyan10: hsl(188, 100%, 40.0%);
	--cyan11: hsl(186, 100%, 42.2%);
	--cyan12: hsl(185, 73.0%, 93.2%);
	--mint1: hsl(173, 50.0%, 6.6%);
	--mint2: hsl(176, 73.0%, 7.3%);
	--mint3: hsl(175, 79.3%, 8.9%);
	--mint4: hsl(174, 84.8%, 10.3%);
	--mint5: hsl(174, 90.2%, 11.9%);
	--mint6: hsl(173, 96.0%, 13.8%);
	--mint7: hsl(172, 100%, 16.8%);
	--mint8: hsl(170, 100%, 21.4%);
	--mint9: hsl(167, 65.0%, 66.0%);
	--mint10: hsl(163, 80.0%, 77.0%);
	--mint11: hsl(167, 70.0%, 48.0%);
	--mint12: hsl(165, 80.0%, 94.8%);
}

/*
	CSS
*/
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 4rem auto;
	max-width: 650px;
	line-height: 1.6;
	font-size: 18px;
	/* background-color: var(--sage1);
	color: var(--sage12); */
	background-color: var(--slate1);
	color: var(--slate12);
	/* background-color: var(--gray1);
	color: var(--gray12); */
	padding: 0 1rem;
}

h1,
h2,
h3 {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	line-height: 1.4;
	margin: 1rem 0;
}

p {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.2rem;
	line-height: 1.6;
}

header {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 2rem;
	padding: 2rem;
	color: var(--gray11);
	text-align: center;
	border: solid 1px var(--gray7)
}

header img {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 48px;
	width: 48px;
	margin-right: 1rem;
}

.divider {
	margin: 2rem 0;
	border-color: var(--gray6);
}

.study_card {
	padding: 1rem;
	margin: 1rem 0;
	transition: border 250ms, background-color 250ms;
}

.study_card_mint {
	color: var(--mint12);
	border: solid 2px var(--mint7);
	background-color: var(--mint3);
}

.study_card_cyan {
	color: var(--cyan12);
	border: solid 2px var(--cyan7);
	background-color: var(--cyan3);
}

.study_link {
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	transition: gap 250ms;
	word-spacing: -4px;
	margin-top: 1rem;
}

.study_link_mint {
	color: var(--mint11);
}

.study_link_cyan {
	color: var(--cyan11);
}

.study_link:hover {
	text-decoration: underline;
	gap: 1rem;
}

.study_link svg {
	height: 20px;
	width: 20px;
}

footer {
	margin-top: 2rem;
	padding: 2rem;
	color: var(--gray11);
	text-align: center;
	border: solid 1px var(--gray7);
}