<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- <script src="htmx.min.js" defer></script> -->
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{{ $style := resources.Get "style.css" }}
		<link rel="stylesheet" href="{{ $style.Permalink }}" />
		<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
		<link rel="icon" type="image/svg" href="logo.svg" />
		<!-- Google Fonts -->
		<!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap"
			rel="stylesheet"
		/> -->

		<title>
			{{ block "title" . }} {{ .Page.Title }} {{ if not .IsHome }}| {{
			.Site.Title }} {{ end }} {{ end }}
		</title>
	</head>
	<body class="bg-gray-900 text-gray-50">
		<!-- Code that all your templates share, like a header -->
		{{ block "main" . }}
		<!-- The part of the page that begins to differ between templates -->
		{{ end }} {{ block "footer" . }}
		<!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
		{{ end }}
	</body>
</html>
