<h2 class="text-4xl uppercase font-bold">Work</h2>
<hr class="my-4 border-slate-300 border-[1px] max-w-sm" />
<ul class="w-full gap-8 grid">
	{{ range where .Site.RegularPages "Section" "work" }}
	<li class="group">
		<a class="block" href="{{ .RelPermalink }}">
			<h3 class="text-2xl mb-2 font-bold">{{ .Title }}</h3>
			<p class="mb-4 text-lg">{{ .Summary }}</p>
			<div class="flex gap-2 text-slate-700 group-hover:gap-4 transition-[gap]">
				<span class="font-mono font-bold">Read the full case study</span>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					class="h-6 w-6"
					fill="none"
					viewBox="0 0 24 24"
					stroke="currentColor"
					stroke-width="2"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M17 8l4 4m0 0l-4 4m4-4H3"
					/>
				</svg>
			</div>
		</a>
	</li>
	{{ end }}
</ul>
