<h2 class="text-4xl uppercase font-bold mb-4">Case Studies</h2>
<ul class="w-full gap-4 grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3">
	{{ range where .Site.RegularPages "Section" "work" }}
	<li class="group">
		<a
			class="block p-2 sm:p-4 border-cyan-700/60 border-2 bg-cyan-900/60 group-hover:bg-cyan-900/80 transition rounded-lg"
			href="{{ .RelPermalink }}"
		>
			{{ with $thumbnail := .Resources.GetMatch "thumbnail.png" }}
			<img
				src="{{ $thumbnail.Permalink }}"
				alt=""
				width="{{ $thumbnail.Width }}"
				height="{{ $thumbnail.Height }}"
				class="w-full mb-4 object-cover rounded-md"
			/>{{ end }}

			<h3 class="text-2xl mb-2 font-bold">{{ .Title }}</h3>
			<p class="mb-4 text-lg">{{ .Summary }}</p>
			<div class="flex gap-2 text-cyan-200 group-hover:gap-4 transition-[gap]">
				<span class="font-mono">Read the full case study</span>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					class="h-6 w-6"
					fill="none"
					viewBox="0 0 24 24"
					stroke="currentColor"
					stroke-width="2"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M17 8l4 4m0 0l-4 4m4-4H3"
					/>
				</svg>
			</div>
		</a>
	</li>
	{{ end }}
</ul>
